/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

button{
  font-size: 20px;
  color: rgb(11, 201, 84);
  border: 2px solid greenyellow;
  width: fit-content;
  margin: 5px;
}

h3 {
  color: rgb(85, 145, 236);
  margin: 15px 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
